// app global css in SCSS form
$size-s: 10px;
$size-m: 20px;

.bg-primary {
  background-color: $primary;
}

.mb-m {
  margin-bottom: $size-m;
}



.q-layout__shadow:after {
  box-shadow: none;
}

.q-item__section--avatar {
  min-width: auto;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;

  &-track {
    background: $secondary;
    border-radius: 4px;
  }

  &-thumb {
    background: $accent;
    border-radius: 4px;
  }
}

.q-table th {
  padding: 20px 16px;
}