// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #393043;
$secondary: #5b5464;
$accent: #CB3CFF;
$accent-secondary: #7F25FB;

$light: #eaeaec;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: rgba(244, 67, 54, 0.9);
$info: #31ccec;
$warning: #f2c037;